
main {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.banner {
  background: #eaeff2;
  padding: 49px 40px;

  @media only screen and (max-width: 991px) {
    padding: 40px 27px;
  }

  h2 {
    color: rgba(11, 15, 17, 0.7);
    text-align: center;
    font-family: Merriweather;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    margin-bottom: 8px;

    @media only screen and (max-width: 991px) {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 14px;
    }
  }

  h1 {
    color: #0B0F11;
    text-align: center;
    font-family: Merriweather;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;

    @media only screen and (max-width: 991px) {
      font-size: 36px;
      line-height: 44px;
    }
  }
}

.news {
  padding: 16px 16px 16px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;

  @media only screen and (max-width: 991px) {
    padding: 0;
  }

  .news-container {

    .news-list {
      list-style: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      //justify-content: center;

      &-item {
        max-width: calc(100% / 3 - 48px);
        width: 100%;
        //min-width: 345px;
        margin: 24px;

        @media only screen and (max-width: 1199px) {
          max-width: calc(100% / 2 - 48px);
        }

        @media only screen and (max-width: 991px) {
          max-width: calc(100% / 2 - 30px);
          margin: 24px 15px;
        }

        @media only screen and (max-width: 768px) {
          max-width: 100%;
        }

        img {
          width: 100%;
          height: auto;
        }
      }

      h2 {
        color: #0B0F11;
        font-family: Merriweather;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        margin-top: 24px;
      }

      p {
        color: rgba(11, 15, 17, 0.7);
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 18px;
        margin-top: 12px;
      }

    }

    .btn {
      margin: 0 15px;
    }

    #load-more-btn {
      margin: 80px auto 0;
      display: none;
      border-radius: 4px;
      width: 159px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      font-size: 20px;
      line-height: 20px;
      color: #1f3143;
      border-radius: 4px;
      background: #E2A328;
      box-shadow: 4px 4px 0px 0px rgba(15, 21, 27, 0.20);
      border: none;

      @media only screen and (max-width: 540px) {
        width: 100%;
      }

      &:hover {
        box-shadow: 4px 4px 0 0 rgba(15, 21, 27, 0.5);
        background: #f7b433;
      }

      &:active {
        background: #cc901b;
        box-shadow: none;
      }
    }
  }

}